body, input, button {
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    font-size: 1.2em;
}

body {
    background-color: #141414;
    color: #333;
    max-width: 980px; /*Remove this to make it full screen*/
    margin: 1em auto;

background: rgb(76,76,76); /* Old browsers */
background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 5%, rgba(102,102,102,1) 12%, rgba(71,71,71,1) 20%, rgba(0,0,0,1) 38%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 95%, rgba(17,17,17,1) 95%, rgba(19,19,19,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(5%,rgba(89,89,89,1)), color-stop(12%,rgba(102,102,102,1)), color-stop(20%,rgba(71,71,71,1)), color-stop(38%,rgba(0,0,0,1)), color-stop(76%,rgba(43,43,43,1)), color-stop(95%,rgba(28,28,28,1)), color-stop(95%,rgba(17,17,17,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 5%,rgba(102,102,102,1) 12%,rgba(71,71,71,1) 20%,rgba(0,0,0,1) 38%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 95%,rgba(17,17,17,1) 95%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 5%,rgba(102,102,102,1) 12%,rgba(71,71,71,1) 20%,rgba(0,0,0,1) 38%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 95%,rgba(17,17,17,1) 95%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 5%,rgba(102,102,102,1) 12%,rgba(71,71,71,1) 20%,rgba(0,0,0,1) 38%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 95%,rgba(17,17,17,1) 95%,rgba(19,19,19,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 5%,rgba(102,102,102,1) 12%,rgba(71,71,71,1) 20%,rgba(0,0,0,1) 38%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 95%,rgba(17,17,17,1) 95%,rgba(19,19,19,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}

button, input[type=submit] {
    border: 1px solid #dedede;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left: 10px;
}

/*#region Header */

header {
    margin: 0 .7em;
    position: relative;
    z-index: -1;
}

    header p {
        font-size: 2.5em;
        margin: 0;
    }

#userSettings {
    float: right;
}

    #userSettings > form:before {
        content: ' | ';
    }

    #userSettings form {
        display: inline;
    }

#menu {
    list-style-type: none;
    padding: 0;
}

    #menu li {
        display: inline-block;
    }

    #menu li:not(:first-child) {
        margin-left: .8em;
    }

/*#endregion */

/*#region forms */

#changePasswordForm input,
#registerForm input,
#loginForm input {
    border: 1px solid #dedede;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

    #changePasswordForm input[type=text], #changePasswordForm input[type=password],
    #registerForm input[type=text], #registerForm input[type=password],
    #loginForm input[type=text], #loginForm input[type=password] {
        background: white;
        width: 220px;
    }

#loginForm input[type=checkbox]{
    border: none;
}

#changePasswordForm input[type=submit] {
    margin-bottom: .8em;
}

#registerPanel{
    display: none;
    position: relative;
    float: left;
    text-align: left;
    padding: 25px;
}

#loginPanel {
    display: block;
    position: relative;
    float: left;
    text-align: left;
    padding: 25px;
    width: 600px;
}

#registerPanel h2,
#loginPanel h2 {
    padding-bottom: .5em;
    margin: 0;
}

#registerPanel a,
#loginPanel a {
    color: navy;
    font-weight: bold;
    cursor: pointer;
}

#registerPanel p,
#loginPanel p {
    clear: both;
}

#localLoginPanel {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 45%;
    text-align: left;
}

#socialLoginPanel {
    margin-left: 40px;
    float: left;
    width: 45%;
    text-align: left;
}

    #socialLoginPanel h2 {
        margin-bottom:  5px;
    }

#socialLoginList button {
    margin-bottom: 12px;
}

#externalLogins {
    text-align: left;
    padding-left: 25px;
}

fieldset {
    border: none;
    margin: 0 auto;
    padding: 0 20px;
    text-align: left;
    display: inline;
}

    fieldset legend {
        display: none;
    }

    fieldset label:not(.checkbox) {
        display: block;
        text-align: left;
    }

    fieldset ol {
        padding: 0;
        margin: 0 0 8px 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

ol.round {
    list-style-type: none;
    padding-left: 0;
}

/*#endregion */

#main-content {
    min-height: 400px;
    text-align: center;
}

/*#region info and errors */
.error {
    float: none;
    color: red;
    padding-left: .5em;
    vertical-align: top;
}

.validation-summary-errors {
    color: red;
    list-style: none;
    width: 220px;
    font-size: .8em;
}

.validation-summary-errors ul{
    padding: 0 !important;
    margin: 0 !important;
}

/*#endregion */

/*#region Unauthorized */

#unauthorized {
    margin: 3em 0;
    text-align: center;
}

    #unauthorized ul {
        list-style: none;
        padding: 0;
        margin: 3em 0;
    }

    #unauthorized li {
        display: inline-block;
        padding: 6px 20px;
        background-color: #dedede;
        border: 1px solid gray;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

        #unauthorized li:first-child {
            margin-right: 2em;
        }

/*#endregion */

/*#region Footer */

footer {
    clear: both;
    margin: 5em 5em .7em 0;
}

/*#endregion */

@media only screen and (max-width: 600px) {

    body {
        margin: .2em 0;
    }

    header {
        text-align: center;
        clear: both;
    }
}

.form-3 {
    font-family: 'Ubuntu', 'Lato', sans-serif;
    font-weight: 400;
    /* Size and position */
    width: 300px;
    position: relative;
    margin: 60px auto 30px;
    padding: 10px;
    overflow: hidden;
 
    /* Styles */
    background: #111; 
    border-radius: 0.4em;
    border: 1px solid #191919;
    box-shadow: 
        inset 0 0 2px 1px rgba(255,255,255,0.08), 
        0 16px 10px -8px rgba(0, 0, 0, 0.6);
}

.form-3 label {
    /* Size and position */
    width: 50%;
    float: left;
    padding-top: 9px;
 
    /* Styles */
    color: #ddd;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 1px 0 #000;
    text-indent: 10px;
    font-weight: 700;
    cursor: pointer;
}
 
.form-3 input[type=text],
.form-3 input[type=password] {
    /* Size and position */
    width: 50%;
    float: left;
    padding: 8px 5px;
    margin-bottom: 10px;
    font-size: 12px;
 
    /* Styles */
    background: linear-gradient(#1f2124, #27292c);    
    border: 1px solid #000;
    box-shadow:
        0 1px 0 rgba(255,255,255,0.1);
    border-radius: 3px;
 
    /* Font styles */
    font-family: 'Ubuntu', 'Lato', sans-serif;
    color: #fff;
 
}
 
.form-3 input[type=text]:hover,
.form-3 input[type=password]:hover,
.form-3 label:hover ~ input[type=text],
.form-3 label:hover ~ input[type=password] {
    background: #27292c;
}
 
.form-3 input[type=text]:focus, 
.form-3 input[type=password]:focus {
    box-shadow: inset 0 0 2px #000;
    background: #494d54;
    border-color: #51cbee;
    outline: none; /* Remove Chrome outline */
}
.form-3 p:nth-child(3),
.form-3 p:nth-child(4) {
    float: left;
    width: 50%;
}

.form-3 label[for=remember] {
    width: auto;
    float: none;
    display: inline-block;
    text-transform: capitalize;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0px;
    text-indent: 2px;
}
 
.form-3 input[type=checkbox] {
    margin-left: 10px;
    vertical-align: middle;
}

.form-3 input[type=submit] {
    /* Width and position */
    width: 100%;
    padding: 8px 5px;
   
    /* Styles */
    border: 1px solid #0273dd; /* Fallback */
    border: 1px solid rgba(0,0,0,0.4);
    box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.3),
        inset 0 10px 10px rgba(255,255,255,0.1);
    border-radius: 3px;
    background: #38a6f0;
    cursor:pointer;
   
    /* Font styles */
    font-family: 'Ubuntu', 'Lato', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 15px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
}
 
.form-3 input[type=submit]:hover { 
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.6);
}
 
.form-3 input[type=submit]:active { 
    background: #287db5;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.6);
    border-color: #000; /* Fallback */
    border-color: rgba(0,0,0,0.9);
}
 
.no-boxshadow .form-3 input[type=submit]:hover {
    background: #2a92d8;
}

/* Gradient line */
.form-3:after {
    /* Size and position */
    content: "";
    height: 1px;
    width: 33%;
    position: absolute;
    left: 20%;
    top: 0;
 
    /* Styles */
    background: linear-gradient(right, transparent, #444, #b6b6b8, #444, transparent);
}
 
/* Small flash */
.form-3:before {
    /* Size and position */
    content: "";
    width: 8px;
    height: 5px;
    position: absolute;
    left: 34%;
    top: -7px;
     
    /* Styles */
    border-radius: 50%;
    box-shadow: 0 0 6px 4px #fff;
}

.form-3 p:nth-child(1):before{
    /* Size and position */
    content: "";
    width: 250px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 45px;
 
    /* Styles */
    transform: rotate(75deg);
   /* background: linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));*/
    pointer-events: none;
}

.no-pointerevents .form-3 p:nth-child(1):before {
    display: none;
}