@{
    ViewBag.Title = "Home Page";
}

@section featured {
<section class="featured"> 
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Visit to get depressed<a href="http://bobisnothing.com/part.php?id=25">Click</a> 
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>

<div>
   We are too pro guides and stuff. pfff
</div>
